<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>Php Template by ÁngelCabrera</title>
    </head>
    <body>
        <h1>Vamos a comprobar la base de datos y las consultas</h1>
        <form action="/" method="post">
            <label for="title">Título:</label><br><br>
            <input id="tile" name="title" placeholder="Ingresa el Título" type="text"><br><br>
            <button type="submit">Guardar</button>
        </form>

        <h2>Datos Guardados</h2>
        <ul>
            {% for tool in tools %}
                <li>{{ tool.title }}</li>
            {% endfor %}
        </ul>
    </body>
</html></body></html>
